@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #101014;
  --background-secondary: #19181F;
  --primary: #0074E4;
  --secondary: #9A999F;
  --white: #FFFFFF;
  --danger: #e24141;
}

body {
  background: var(--background);
  color: var(--white);
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 900px) {
  html {
    font-size: 87.5%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 0;
}

.navbar .container, .content, .explore, footer {
  max-width: 1441px;
  margin: auto;
}

/* navbar */

.navbar {
  background: var(--background);
}

.navbar i {
  font-size: 1.25rem;
}

.nav-link, .nav-link:visited, .dropdown-toggle:visited {
  color: var(--secondary);
}

.nav-link:hover, .nav-link.active, .nav-link:active, .dropdown-toggle.show {
  color: var(--white);
}

.btn-cart {
  color: var(--white);
  border-color: var(--white);
}

.btn-cart:hover {
  background: var(--white);
  color: var(--background);
  border-color: var(--white);
}

.btn-cart span {
  color: var(--background);
  background: var(--white);
}

.btn-mobile {
  color: var(--white);
}

.btn-mobile i {
  font-size: 1.6rem;
}

/* intro */

.carousel-inner, .carousel-item {
  height: 80vh;
  min-height: 700px;
  overflow: hidden;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
  filter: brightness(0.9);
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: 45%;
}

.intro-title {
  font-size: 5rem;
  font-weight: 700;
}

.intro-description {
  max-width: 370px;
}

.intro-tag {
  font-size: 0.75rem;
  color: var(--secondary);
  font-weight: 700;
}

/* content */

.content-header h2 {
  font-weight: 600;
  font-size: 2rem;
}

.content-header a {
  color: var(--secondary) !important;
  text-decoration: none;
}

.content-header a:hover {
  color: var(--white) !important;
  transition: color 200ms;
}

.content-header .row div:last-child a {
  color: var(--primary) !important;
}

.content-header .row div:last-child a:hover {
  text-decoration: underline;
}

.content-cards a {
  color: var(--white);
  text-decoration: none;
}

.content-card {
  gap: 0.5rem;
}

.img-container:hover > div {
  display: flex;
}

.img-container {
  position: relative;
  max-width: 207px;
}

.img-container img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  max-height: 257px;
  transition: transform 100ms ease-in-out;
  object-fit: cover;
}

.img-container:hover img {
  transition: filter 200ms ease-in-out;
  filter: brightness(0.4);
}

.img-container > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img-container > div > span {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  position: relative;
  line-height: 2;
  color: var(--white);
  font-size: 0.875rem;
  cursor: pointer;
  opacity: 0;
  animation: on-display-a 0.2s 0.1s ease-in-out forwards;
}

.img-container > div > span:is(:hover, :focus)::after {
  width: 100%;
  left: 0%;
}

.img-container > div > span::after {
  content: '';
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 1px;
  background-color: var(--white);
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 0.2s;
  transition-property: width, left;
}

.card-tags span {
  background: var(--primary);
  font-size: 0.7rem;
  padding: 0.1rem 0.8rem;
  border-radius: 999px;
}

.content-card p {
  font-size: 1.125rem;
}

.card-price span:first-child {
  font-size: 0.9rem;
  text-decoration: line-through;
  color: var(--secondary);
}

.card-price span:last-child {
  font-size: 1.125rem;
}

@keyframes on-display-a {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* news */

.content-news {
  margin-top: 5rem;
}

.news-card {
  height: 22rem;
  border-bottom: 2px solid var(--primary);
  flex: 1;
  text-decoration: none;
}

.news-card-bg1 {
  background: url('../assets/fortnite-back.png') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px 6px 0 0;
}

.news-card-bg2 {
  background: url('../assets/borderlands-back.png') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px 6px 0 0;
}

.news-card h3 {
  font-size: 1.25rem;
  color: var(--white);
}

.news-card p {
  color: var(--secondary);
  max-width: 450px;
}

.news-card:hover {
  filter: brightness(1.2);
  transition: filter 200ms;
}

/* explore */

.explore-bg {
  background: url('../assets/lights-back.png') no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10rem 0;
  margin-top: 5rem;
}

.explore { 
  gap: 1rem;
}

.explore h2 {
  max-width: 240px;
  font-weight: 600;
}

.explore p {
  color: var(--secondary);
  max-width: 320px;
}

/* footer */

footer {
  margin-top: 5rem;
}

.footer-header {
  padding-bottom: 1.5rem;
}

.footer-social {
  gap: 1rem;
}

.footer-social a {
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
}

.footer-social a:hover {
  transition: opacity 200ms;
  opacity: 0.8;
}

.footer-content {
  border-bottom: 1px solid var(--secondary);
  border-top: 1px solid var(--secondary);
  padding: 2rem 0;
  display: flex;
  gap: 3rem;
}

.footer-content > div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.footer-content h3 {
  font-size: 1rem;
}

.footer-content a {
  text-decoration: none;
  color: var(--secondary);
}

.footer-content a:hover {
  text-decoration: underline;
}

.footer-copy {
  margin: 2rem 0;
}

/* classes úteis */

.call-button {
  background: var(--white);
  padding: 0.7rem 1rem;
}

.call-button:hover {
  transition: opacity 200ms;
  opacity: 0.8;
}

.call-button:hover i {
  transform: translateX(10px);
}

.primary-button, .secondary-button {
  background: var(--primary);
  width: 100%;
  padding: 0.75rem;
  color: var(--white);
}

.primary-button:hover, .secondary-button:hover {
  color: var(--white);
  opacity: 0.8;
  transition: opacity 200ms;
}

.secondary-button {
  background: var(--background-secondary);
}

.call-link {
  color: var(--white);
  text-decoration: none;
}

.call-link:hover {
  color: var(--white);
  text-decoration: underline;
}

.w-full {
  width: 100%;
}

.txt-white {
  color: var(--white) !important;
}

/* MEDIAS */

@media (max-width: 900px) {
  .explore {
    text-align: center;
    align-items: center;
  }

  .explore h2 {
    font-size: 2.4rem;
  }

  .explore p {
    font-size: 1.1rem;
  }
}

@media (max-width: 700px) {
  .intro-text {
    align-items: center;
    text-align: center;
  }
}